/* reset */
* {
	margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font: inherit;
}
fieldset,
img {
	border: none;
}
dl,
ul,
ol,
menu,
li {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
input,
select,
textarea,
button {
	vertical-align: middle;
}
input::-ms-clear {
	display: none;
}
button {
	border: none;
	background-color: transparent;
	cursor: pointer;
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover,
a:focus,
a:active,
a:visited {
	text-decoration: none;
}
:focus {
	outline: none;
}
header,
footer,
menu,
nav,
aside,
main,
section,
article {
	display: block;
	margin: 0;
	padding: 0;
}
img {
	max-width: 100%;
	vertical-align: middle;
}
table {
	width: 100%;
	border-collapse: collapse;
	border: none;
}
th {
	font-weight: inherit;
}
address,
caption,
cite,
code,
dfn,
em,
var,
i,
cite,
em,
address,
dfn,
button,
input,
select,
textarea {
	font: inherit;
	color: inherit;
}
textarea {
	resize: vertical;
}
input {
	-webkit-appearance: none;
	border-radius: 0;
}
input[type="password"] {
	font-family: sans-serif;
}

/* common */
body {
	direction: ltr;
  line-height: 1.2;
  letter-spacing: -0.075em;
	font-family: 'NanumSquare', sans-serif;
	color: #333;
	word-break: keep-all;
	background: #fff;
}
.blind {
	position: absolute;
	top: -9999px;
	left: -9999px;
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	text-align: left;
	text-indent: -9999em;
}
.clear:after {
	content: "";
	clear: both;
	display: block;
}
.accNav:focus {
	display: block;
	top: 0;
	left: 50%;
	width: 100px;
	height: auto;
	margin: 0 0 0 -50px;
	padding: 3px 0;
	text-align: center;
	font-size: 11px;
	text-indent: 0;
	color: #fff;
	background-color: #333;
	z-index: 999;
}

.f_light {
  font-weight: 300;
}
.f_normal {
  font-weight: 400;
}
.f_bold {
  font-weight: 700;
}
.f_black {
  font-weight: 800;
}
.c_grey {
  color: #666;
}
.c_blue {
  color: #1eaee7;
}
.c_red {
  color: #e55050;
}
/* layout */
.container {
  max-width: 970px;
  margin: 0 auto;
}
.section {
  padding-left: 30px;
  padding-right: 30px;
}
.header {
  text-align: center;
}
.title {
  font-size: 50px;
}
.subTitle {
  font-size: 30px;
}
.title .subTitle {
  position: relative;
  color: #1eaee7;
}
.title .subTitle:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #1eaee7;
}
.title .subTitle:after {
  content: "\A";
  white-space: pre;
}

/* section1 */
.sc1 {
  position: relative;
  padding-top: 120px;
  padding-bottom: 220px;
  color: #fff;
  background-image: url('../img/landing/bg_1.png'), linear-gradient(to right, #0a3e81, #00b1ea);
}
.sc1:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 687px;
  height: 360px;
  margin-top: -160px;
  margin-left: -344px;
  background: url('../img/landing/obj_1.png') 50% 50% / contain no-repeat;
}
.sc1 .header {
  letter-spacing: -0.025em;
}
.sc1 .name {
  margin-bottom: 0.8em;
  font-size: 27px;
}
.sc1 .title {
  margin-bottom: 0.3em;
}
/* section2 */
.sc2 {
  padding-top: 270px;
  padding-bottom: 100px;
}
.sc2 .feature {
  display: flex;
  flex-wrap: wrap;
}
.sc2 .feature dl {
  position: relative;
  padding: 30px 0 30px 106px;
}
.sc2 .feature dl:nth-of-type(2n+1) {
  flex-basis: calc(50% + 45px);
}
.sc2 .feature dl:nth-of-type(2n) {
  flex-basis: calc(50% - 45px);
}
.sc2 .feature dl:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 86px;
  height: 86px;
  margin-top: -43px;
  border-radius: 100%;
  background-color: #1eaee7;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
.sc2 .feature dl:nth-of-type(1):before {
  background-image: url('../img/landing/ico_1_1.png');
}
.sc2 .feature dl:nth-of-type(2):before {
  background-image: url('../img/landing/ico_1_2.png');
}
.sc2 .feature dl:nth-of-type(3):before {
  background-image: url('../img/landing/ico_1_3.png');
}
.sc2 .feature dl:nth-of-type(4):before {
  background-image: url('../img/landing/ico_1_4.png');
}
.sc2 .feature dt {
  margin-bottom: 0.3em;
  font-size: 30px;
}
.sc2 .feature dd {
  font-size: 22px;
}
/* section3 */
.sc3 .video {
  position: relative;
  padding-bottom: 56.25%;
  background: #d7d7d7;
}
.sc3 .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* section4 */
.sc4 {
    padding-top: 80px;
    padding-bottom: 20px;
    background-color: #f5f5f5;
}
.sc4 .container {
    max-width: 1030px;
}
.sc4 .why {
    margin-top: 40px;
    text-align: center;
    font-size: 25px;
}
.sc4 .why-info {
    font-size: 24px;
    line-height: 32px;
    border-bottom: 2px solid #1eaee7;
    font-weight: bold;
}
.sc4 .why li {
    flex: 1;
}
.sc4 .why li span {
    font-size: 20px;
    line-height: 36px;
}
.sc4 .why .info-image {
    position: relative;
    width: 270px;
    margin: 0 auto 1em;
}
.sc4 .why .info-image img {
    border: 1px solid #cccccc;
    box-shadow: 2px 4px 16px rgba(161,168,178,.25);
}
/* section5 */
.sc5 {
  padding-top: 50px;
  padding-bottom: 110px;
  background-color: #f5f5f5;
}
.sc5 .price {
  margin-top: 80px;
  font-size: 25px;
}
.sc5 .price th,
.sc5 .price td {
  padding: 0.5em 0;
  text-align: center;
  border: 2px solid #f5f5f5;
}
.sc5 .price th {
  color: #fff;
  background-color: #a1a1a1;
}
.sc5 .price td {
  background-color: #fff;
}
.sc5 .price .col {
  color: #fff;
  background-color: #1eaee7;
}
.sc5 .memo {
  margin-top: 1em;
  font-size: 21px;
}
/* section6 */
.sc6 {
  color: #fff;
  background-color: #1eaee7;
}
.sc6 .container {
  position: relative;
  padding-top: 75px;
  padding-bottom: 65px;
}
.sc6 .container:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 366px;
  background: url('../img/landing/obj_2.png') 50% 100% / contain no-repeat;
}
.sc6 h1 {
  margin-bottom: 0.4em;
  font-size: 45px;
}
.sc6 .btn {
  display: block;
  max-width: 360px;
  padding: 20px 0;
  text-align: center;
  font-size: 25px;
  border: 1px solid #fff;
}
.sc6 .btnReverse {
  margin-bottom: 10px;
  color: #1eaee7;
  background-color: #fff;
}

.sc6 .btnReverse:hover {
  color: #0056b3;
}

/* media queries */
@media screen and (max-width: 1024px) {
  .title {
    font-size: 5vw;
  }
  .subTitle {
    font-size: 3.2vw;
  }
  .title .subTitle:before {
    border-width: 1px;
  }
  .sc1 {
    padding-top: 10%;
    padding-bottom: 24%;
  }
  .sc1:after {
    width: 64%;
    height: auto;
    margin-top: -26%;
    margin-left: -32%;
    padding-bottom: 52%;
  }
  .sc1 .name {
    font-size: 3vw;
  }
  .sc2 {
    padding-top: 24%;
    padding-bottom: 10%;
  }
  .sc2 .feature dt {
    font-size: 2.6vw;
  }
  .sc2 .feature dd {
    font-size: 2vw;
  }
  .sc4 {
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .sc4 .header {
      margin-bottom: 10px;
  }
  .sc4 .why {
    margin-top: 6%;
    font-size: 3vw;
  }
  .sc4 .why-info {
      font-size: 4vw;
  }
  .sc4 .why li {
      margin: 20px 0px;
  }
  .sc4 .why .info-image {
    width: 88%;
    margin-bottom: 1em;
  }
  .sc4 .why .info-image img {
      width: 88%;
  }
  .sc4 .why li span {
    font-size: 4vw;
  }
  .sc5 {
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .sc5 .price {
    margin-top: 6%;
    font-size: 20px;
  }
  .sc5 .memo {
    font-size: 2vw;
  }
  .sc6 .container {
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .sc6 .container:before {
    height: 85%;
  }
  .sc6 h1 {
    font-size: 5vw;
  }
  .sc6 .btn {
    padding: 15px 0;
    font-size: 20px;
  }
}
@media screen and (max-width: 767px) {
  .section {
    padding-left: 15px;
    padding-right: 15px;
  }
  .title,
  .sc6 h1 {
    font-size: 6.8vw;
  }
  .subTitle {
    font-size: 4vw;
  }
  .sc1 {
    padding-top: 20%;
  }
  .sc1 .title strong {
    display: block;
  }
  .sc2 {
    padding-bottom: calc(16% - 30px);
  }
  .sc2 .container {
    text-align: center;
  }
  .sc2 .feature {
    display: inline-block;
    text-align: initial;
  }
  .sc2 .feature dt {
    font-size: 20px;
  }
  .sc2 .feature dd {
    font-size: 16px;
  }
  .sc4,
  .sc5 {
    padding-top: 16%;
    padding-bottom: 16%;
  }
  .sc4 .why {
    font-size: 16px;
  }
    .sc4 .why-info {
        font-size: 5vw;
    }
  .sc4 .why li {
      width: 100%;
      display: block;
  }
  .sc4 .why .info-image {
    width: 100%;
    margin-bottom: 0.5em;
  }
  .sc5 .price {
    font-size: 14px;
  }
  .sc5 .memo {
    font-size: 14px;
  }
  .sc6 .container {
    padding-top: 16%;
  }
  .sc6 .container:before {
    width: 40%;
  }
  .sc6 .btn {
    max-width: 50%;
    font-size: 16px;
  }
}