@media (min-width: 1px) {
  .container {
    max-width: 1110px;
    min-width: 1110px
  }
}

body, html {
  background-color: #fff;
  font-family: HelveticaNeue, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  margin: 0;
  padding: 0
}

.no-gutters {
  margin-right: 0;
  margin-left: 0
}

.no-gutters > .col, .no-gutters > [class*=col-] {
  padding-right: 0;
  padding-left: 0
}

.gnb {
  width: 100%;
  min-width: 1110px;
  height: 79px;
  line-height: 79px;
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
  text-align: center;
  z-index: 999;
  top: 0
}

.gnb.sticky {
  position: fixed
}

.gnb .container {
  max-width: 970px;
  min-width: 970px;
  padding: 0
}

.gnb .gnb-ci {
  float: left;
  height: 79px
}

.gnb .ci_sharevalue {
  vertical-align: middle
}

.gnb .top-menu {
  float: right;
  margin: 0;
  padding: 0
}

.gnb .top-menu a {
  font-family: NanumSquare;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1.6px;
  text-align: center;
  text-transform: uppercase;
  color: #333;
  margin: 19px 0 0 40px
}

.gnb .top-menu a.active {
  color: #00b1ea
}

.gnb .top-menu li {
  display: inline-block
}

.header {
  width: 100%;
  min-width: 1110px;
  position: relative
}

.header.sticky {
  margin-top: 80px
}

.header #carouselFade {
  position: absolute;
  width: 100%;
  height: 640px;
  top: 0
}

.header .carousel-inner {
  height: 640px
}

.header .Business-management-system {
  font-family: NanumSquare;
  font-size: 60px;
  font-weight: 100;
  color: #fff;
  text-align: center;
  padding: 210px 0 30px;
  margin: 0;
  line-height: 80px
}

.header .Business-management-system .text-style-1 {
  color: #4accff;
  font-weight: 600
}

.header .desc {
  font-family: NanumSquare;
  font-size: 20px;
  font-weight: 100;
  line-height: 1.5;
  letter-spacing: 2px;
  text-align: center;
  color: #fff;
  text-transform: uppercase
}

.header .dot-box {
  width: 100%;
  bottom: 52px;
  font-size: 0;
  text-align: center;
  position: absolute
}

.header .dot {
  width: 16px;
  height: 16px;
  margin: 0 5px;
  border: 3px solid #fff;
  background-color: transparent;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer
}

.header .dot.active {
  background-color: #fff
}

.content {
  margin-top: 120px;
  font-family: NanumSquare
}

.content .content-box {
  width: 970px;
  margin: 0 auto 116px
}

.content .content-title {
  font-family: NanumSquare;
  margin-bottom: 15px;
  font-size: 23px;
  line-height: 1.74;
  letter-spacing: 2.3px;
  text-align: center;
  color: #00b1ea
}

.content .content-desc {
  margin-bottom: 55px;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  color: #333
}

.content .content-desc b {
  font-weight: 900
}

.content .For-your-success-travel-business {
  font-family: NanumSquare;
  font-size: 30px;
  font-weight: 100;
  text-align: center;
  color: #26ade2;
  margin-bottom: 20px;
  line-height: 50px
}

.content .For-your-success-travel-business .text-style-1 {
  font-family: NanumSquare;
  font-size: 50px;
  font-weight: 500
}

.content .diagram, .content .icons {
  text-align: center
}

.content .icons {
  text-transform: uppercase;
  font-family: NanumSquare;
  height: 154px;
  position: relative
}

.content .icons .txt {
  position: absolute;
  bottom: 0;
  width: 100%
}

.content .icons .txt .title {
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1.5px;
  text-align: center;
  color: #26ade2;
  margin-bottom: 8px
}

.content .icons .txt .kor {
  font-size: 20px;
  font-weight: 600;
  color: #333
}


.footer {
  border-top: 3px solid #ebebeb;
  width: 100%;
  min-width: 1110px;
  height: 250px
}

.footer-content-box {
  border-bottom: 1px solid #ebebeb;
  width: 100%;
}

.footer .content-box {
  width: 970px;
  margin: 0 auto;
  padding: 40px 0 20px 0;
  position: relative
}

.footer .footer-logo {
  display: inline-block;
  width: 15rem;
  vertical-align: top
}

.footer .bar {
  width: 1px;
  height: 11px;
  opacity: .3;
  background-color: #fff;
  display: inline-block;
  margin: 2px 1px;
  top: 3px;
  position: relative
}

.footer .footer-content {
  line-height: 1.53;
  text-align: left
}

.footer .btn-top, .footer .footer-content {
  display: inline-block;
  font-family: NanumSquare;
  font-size: 13px;
  color: #333333;
}

.footer .btn-top {
  vertical-align: top;
  position: absolute;
  right: 0;
  cursor: pointer
}

.footer-icon-box {
  margin: 20px 0 30px 0;
  border: 0 !important;
}

.footer-icon-box .content-box {
  padding: 0 0 0 15rem;
}

.footer-icon-box ul {
  padding: 0;
}

.footer-icon-box li {
  display: inline-block;
  padding: 0;
  margin: 0 20px;
  text-align: center;
}

.footer-icon-box li:first-child {
  margin-left: 0 !important;
}

.footer-icon-box .footer-icon span {
  font-size: 12px;
  font-family: NanumSquare;
  color: #666666;
  line-height: 24px;
}

.content-box h1.title {
  background-image: url(./img/title-dot.png);
  background-position: 0;
  background-repeat: no-repeat;
  height: 60px;
  font-family: NanumSquareEB;
  font-size: 27px;
  line-height: 1.41;
  letter-spacing: 2.7px;
  text-align: left;
  color: #0a3e81;
  padding-left: 29px;
  padding-top: 20px;
  margin-bottom: 70px
}

.content-box h2 {
  font-family: NanumSquareR;
  font-size: 27px;
  line-height: 1.41;
  text-align: center;
  color: #333
}

.content-box h3 {
  font-family: NanumSquareB;
  font-size: 50px;
  line-height: 1;
  text-align: center;
  color: #26ade2
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
}
fieldset,
img {
  border: none;
}
dl,
ul,
ol,
menu,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
input,
select,
textarea,
button {
  vertical-align: middle;
}
input::-ms-clear {
  display: none;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none;
}
:focus {
  outline: none;
}
header,
footer,
menu,
nav,
aside,
main,
section,
article {
  display: block;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
table {
  width: 100%;
  border-collapse: collapse;
  border: none;
}
th {
  font-weight: inherit;
}
address,
caption,
cite,
code,
dfn,
em,
var,
i,
cite,
em,
address,
dfn,
button,
input,
select,
textarea {
  font: inherit;
  color: inherit;
}
textarea {
  resize: vertical;
}
input {
  -webkit-appearance: none;
  border-radius: 0;
}
input[type="password"] {
  font-family: sans-serif;
}

/* common */
body {
  direction: ltr;
  line-height: 1.2;
  letter-spacing: -0.075em;
  font-family: 'NanumSquare', sans-serif;
  color: #333;
  word-break: keep-all;
  background: #fff;
}
.blind {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  text-align: left;
  text-indent: -9999em;
}
.clear:after {
  content: "";
  clear: both;
  display: block;
}
.accNav:focus {
  display: block;
  top: 0;
  left: 50%;
  width: 100px;
  height: auto;
  margin: 0 0 0 -50px;
  padding: 3px 0;
  text-align: center;
  font-size: 11px;
  text-indent: 0;
  color: #fff;
  background-color: #333;
  z-index: 999;
}

.f_light {
  font-weight: 300;
}
.f_normal {
  font-weight: 400;
}
.f_bold {
  font-weight: 700;
}
.f_black {
  font-weight: 800;
}
.c_grey {
  color: #666;
}
.c_blue {
  color: #1eaee7;
}
.c_red {
  color: #e55050;
}
/* layout */
.container {
  max-width: 970px;
  margin: 0 auto;
}
.section {
  padding-left: 30px;
  padding-right: 30px;
}
.header {
  text-align: center;
}
.title {
  font-size: 50px;
}
.subTitle {
  font-size: 30px;
}
.title .subTitle {
  position: relative;
  color: #1eaee7;
}
.title .subTitle:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #1eaee7;
}
.title .subTitle:after {
  content: "\A";
  white-space: pre;
}

/* section1 */
.sc1 {
  position: relative;
  padding-top: 120px;
  padding-bottom: 220px;
  color: #fff;
  background-image: url('../img/landing/bg_1.png'), linear-gradient(to right, #0a3e81, #00b1ea);
}
.sc1:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 687px;
  height: 360px;
  margin-top: -160px;
  margin-left: -344px;
  background: url('../img/landing/obj_1.png') 50% 50% / contain no-repeat;
}
.sc1 .header {
  letter-spacing: -0.025em;
}
.sc1 .name {
  margin-bottom: 0.8em;
  font-size: 27px;
}
.sc1 .title {
  margin-bottom: 0.3em;
}
/* section2 */
.sc2 {
  padding-top: 270px;
  padding-bottom: 100px;
}
.sc2 .feature {
  display: flex;
  flex-wrap: wrap;
}
.sc2 .feature dl {
  position: relative;
  padding: 30px 0 30px 106px;
}
.sc2 .feature dl:nth-of-type(2n+1) {
  flex-basis: calc(50% + 45px);
}
.sc2 .feature dl:nth-of-type(2n) {
  flex-basis: calc(50% - 45px);
}
.sc2 .feature dl:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 86px;
  height: 86px;
  margin-top: -43px;
  border-radius: 100%;
  background-color: #1eaee7;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
.sc2 .feature dl:nth-of-type(1):before {
  background-image: url('../img/landing/ico_1_1.png');
}
.sc2 .feature dl:nth-of-type(2):before {
  background-image: url('../img/landing/ico_1_2.png');
}
.sc2 .feature dl:nth-of-type(3):before {
  background-image: url('../img/landing/ico_1_3.png');
}
.sc2 .feature dl:nth-of-type(4):before {
  background-image: url('../img/landing/ico_1_4.png');
}
.sc2 .feature dt {
  margin-bottom: 0.3em;
  font-size: 30px;
}
.sc2 .feature dd {
  font-size: 22px;
}
/* section3 */
.sc3 .video {
  position: relative;
  padding-bottom: 56.25%;
  background: #d7d7d7;
}
.sc3 .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* section4 */
.sc4 {
  padding-top: 110px;
  padding-bottom: 130px;
}
.sc4 .container {
  max-width: 1030px;
}
.sc4 .why {
  display: flex;
  margin-top: 80px;
  text-align: center;
  font-size: 25px;
}
.sc4 .why li {
  flex: 1;
}
.sc4 .why .graph {
  position: relative;
  width: 180px;
  padding-bottom: 180px;
  margin: 0 auto 1em;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.sc4 .why li:nth-of-type(1) .graph {
  color: #094f91;
  background-image: url('../img/landing/graph_1_1.png');
}
.sc4 .why li:nth-of-type(2) .graph {
  color: #0573b1;
  background-image: url('../img/landing/graph_1_2.png');
}
.sc4 .why li:nth-of-type(3) .graph {
  color: #038dc9;
  background-image: url('../img/landing/graph_1_3.png');
}
.sc4 .why li:nth-of-type(4) .graph {
  color: #029ed9;
  background-image: url('../img/landing/graph_1_4.png');
}
.sc4 .why .num {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 5px;
  font-size: 1.8em;
  transform: translate(-50%, -50%);
}
/* section5 */
.sc5 {
  padding-top: 100px;
  padding-bottom: 110px;
  background-color: #f5f5f5;
}
.sc5 .price {
  margin-top: 80px;
  font-size: 25px;
}
.sc5 .price th,
.sc5 .price td {
  padding: 0.5em 0;
  text-align: center;
  border: 2px solid #f5f5f5;
}
.sc5 .price th {
  color: #fff;
  background-color: #a1a1a1;
}
.sc5 .price td {
  background-color: #fff;
}
.sc5 .price .price-col {
  color: #fff;
  background-color: #1eaee7;
}
.sc5 .memo {
  margin-top: 1em;
  font-size: 21px;
}
/* section6 */
.sc6 {
  color: #fff;
  background-color: #1eaee7;
}
.sc6 .container {
  position: relative;
  padding-top: 75px;
  padding-bottom: 65px;
}
.sc6 .container:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 366px;
  background: url('../img/landing/obj_2.png') 50% 100% / contain no-repeat;
}
.sc6 h1 {
  margin-bottom: 0.4em;
  font-size: 45px;
}
.sc6 .btn {
  display: block;
  max-width: 360px;
  padding: 20px 0;
  text-align: center;
  font-size: 25px;
  border: 1px solid #fff;
}
.sc6 .btnReverse {
  margin-bottom: 10px;
  color: #1eaee7;
  background-color: #fff;
}

/* media queries */
@media screen and (max-width: 1024px) {
  .title {
    font-size: 5vw;
  }
  .subTitle {
    font-size: 3.2vw;
  }
  .title .subTitle:before {
    border-width: 1px;
  }
  .sc1 {
    padding-top: 10%;
    padding-bottom: 24%;
  }
  .sc1:after {
    width: 64%;
    height: auto;
    margin-top: -26%;
    margin-left: -32%;
    padding-bottom: 52%;
  }
  .sc1 .name {
    font-size: 3vw;
  }
  .sc2 {
    padding-top: 24%;
    padding-bottom: 10%;
  }
  .sc2 .feature dt {
    font-size: 2.6vw;
  }
  .sc2 .feature dd {
    font-size: 2vw;
  }
  .sc4 {
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .sc4 .why {
    margin-top: 6%;
    font-size: 3vw;
  }
  .sc4 .why .graph {
    width: 82%;
    margin-bottom: 0.8em;
    padding-bottom: 82%;
  }
  .sc4 .why .num {
    font-size: 5vw;
  }
  .sc5 {
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .sc5 .price {
    margin-top: 6%;
    font-size: 20px;
  }
  .sc5 .memo {
    font-size: 2vw;
  }
  .sc6 .container {
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .sc6 .container:before {
    height: 85%;
  }
  .sc6 h1 {
    font-size: 5vw;
  }
  .sc6 .btn {
    padding: 15px 0;
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .section {
    padding-left: 15px;
    padding-right: 15px;
  }
  .title,
  .sc6 h1 {
    font-size: 6.8vw;
  }
  .subTitle {
    font-size: 4vw;
  }
  .sc1 {
    padding-top: 20%;
  }
  .sc1 .title strong {
    display: block;
  }
  .sc2 {
    padding-bottom: calc(16% - 30px);
  }
  .sc2 .container {
    text-align: center;
  }
  .sc2 .feature {
    display: inline-block;
    text-align: initial;
  }
  .sc2 .feature dt {
    font-size: 20px;
  }
  .sc2 .feature dd {
    font-size: 16px;
  }
  .sc4,
  .sc5 {
    padding-top: 16%;
    padding-bottom: 16%;
  }
  .sc4 .why {
    font-size: 16px;
  }
  .sc4 .why .graph {
    width: 90%;
    margin-bottom: 0.5em;
    padding-bottom: 90%;
  }
  .sc5 .price {
    font-size: 14px;
  }
  .sc5 .memo {
    font-size: 14px;
  }
  .sc6 .container {
    padding-top: 16%;
  }
  .sc6 .container:before {
    width: 40%;
  }
  .sc6 .btn {
    max-width: 50%;
  }
}
