@media (min-width: 1px) {
    .container {
        max-width: 1110px;
        min-width: 1110px
    }
}

body, html {
    background-color: #fff;
    font-family: HelveticaNeue, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    margin: 0;
    padding: 0
}

.no-gutters {
    margin-right: 0;
    margin-left: 0
}

.no-gutters > .col, .no-gutters > [class*=col-] {
    padding-right: 0;
    padding-left: 0
}

.gnb {
    width: 100%;
    min-width: 1110px;
    height: 79px;
    line-height: 79px;
    background-color: #fff;
    border-bottom: 1px solid #ebebeb;
    text-align: center;
    z-index: 999;
    top: 0
}

.gnb.sticky {
    position: fixed
}

.gnb .container {
    max-width: 970px;
    min-width: 970px;
    padding: 0
}

.gnb .gnb-ci {
    float: left;
    height: 79px
}

.gnb .ci_sharevalue {
    vertical-align: middle
}

.gnb .top-menu {
    float: right;
    margin: 0;
    padding: 0
}

.gnb .top-menu a {
    font-family: NanumSquare;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1.6px;
    text-align: center;
    text-transform: uppercase;
    color: #333;
    margin: 19px 0 0 40px
}

.gnb .top-menu a.active {
    color: #00b1ea
}

.gnb .top-menu li {
    display: inline-block
}

.header {
    width: 100%;
    min-width: 1110px;
    height: 640px;
    position: relative
}

.header.sticky {
    margin-top: 80px
}

.header #topFlipper {
    padding-top: 85px
}

.header .flip-container {
    margin: 0 auto;
    font-family: HelveticaNeue;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 8px;
    text-align: center;
    color: #6ad4fd;
    text-transform: uppercase;
    -webkit-perspective: 1000;
    width: 630px;
    height: 630px;
    border-radius: 50%
}

.header .flip-container .title {
    padding-top: 185px;
    -webkit-transform: scaleX(.8);
    transform: scaleX(.8)
}

.header .flip-container .text-style-1 {
    font-size: 70px;
    line-height: 1.29;
    letter-spacing: 14px;
    color: #fff;
    -webkit-transform: scaleX(.8);
    transform: scaleX(.8)
}

.header .flip-container.hover .flipper {
    -webkit-transform: rotateY(2turn)
}

.header .back, .header .front {
    width: 630px;
    height: 630px;
    border-radius: 50%
}

.header .flipper {
    -webkit-transition: .6s;
    -webkit-transform-style: preserve-3d;
    position: relative
}

.header .back, .header .front {
    -webkit-backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0
}

.header .front {
    z-index: 2;
    background: #26ade2
}

.header .back {
    -webkit-transform: rotateY(180deg);
    background: #26ade2
}

.header #carouselFade {
    position: absolute;
    width: 100%;
    height: 640px;
    top: 0
}

.header .carousel-inner {
    height: 640px
}

.header .box {
    width: 100%;
    height: 640px
}

.header .box1 {
    background-image: url(./img/bm-header.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: #00b1ea
}

.header .Business-management-system {
    font-family: NanumSquare;
    font-size: 60px;
    font-weight: 100;
    color: #fff;
    text-align: center;
    padding: 210px 0 30px;
    margin: 0;
    line-height: 80px
}

.header .Business-management-system .text-style-1 {
    color: #4accff;
    font-weight: 600
}

.header .desc {
    font-family: NanumSquare;
    font-size: 20px;
    font-weight: 100;
    line-height: 1.5;
    letter-spacing: 2px;
    text-align: center;
    color: #fff;
    text-transform: uppercase
}

.header .dot-box {
    width: 100%;
    bottom: 52px;
    font-size: 0;
    text-align: center;
    position: absolute
}

.header .dot {
    width: 16px;
    height: 16px;
    margin: 0 5px;
    border: 3px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer
}

.header .dot.active {
    background-color: #fff
}

.content {
    margin-top: 120px;
    font-family: NanumSquare
}

.content .content-box {
    width: 970px;
    margin: 0 auto 116px
}

.content .content-title {
    font-family: NanumSquare;
    margin-bottom: 15px;
    font-size: 28px;
    line-height: 1.74;
    letter-spacing: 2.3px;
    text-align: center;
    color: #00b1ea
}

.content .content-desc {
    margin-bottom: 55px;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #333
}

.content .content-desc b {
    font-weight: 900
}

.content .For-your-success-travel-business {
    font-family: NanumSquare;
    font-size: 30px;
    font-weight: 100;
    text-align: center;
    color: #26ade2;
    margin-bottom: 20px;
    line-height: 50px
}

.content .For-your-success-travel-business .text-style-1 {
    font-family: NanumSquare;
    font-size: 50px;
    font-weight: 500
}

.content .diagram, .content .icons {
    text-align: center
}

.content .icons {
    text-transform: uppercase;
    font-family: NanumSquare;
    height: 154px;
    position: relative
}

.content .icons .txt {
    position: absolute;
    bottom: 0;
    width: 100%
}

.content .icons .txt .title {
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1.5px;
    text-align: center;
    color: #26ade2;
    margin-bottom: 8px
}

.content .icons .txt .kor {
    font-size: 20px;
    font-weight: 600;
    color: #333
}

.content .map {
    width: 970px;
    height: 430px;
    display: block;
    background-color: #333;
    margin-bottom: 28px;
    position: relative
}

.content .content-address {
    text-align: center;
    font-size: 27px;
    color: #333;
    margin-bottom: 40px
}

.content .addr {
    font-size: 15px;
    line-height: 1.53;
    text-align: center;
    color: #555
}

.content .pin {
    position: absolute;
    top: 40px
}

.content .map-icon {
    width: 104px;
    height: 85px;
    background-color: #fff;
    background-image: url(./img/contactus-ci.png);
    background-repeat: no-repeat;
    background-position: 50%;
    border: 1px solid #dedede;
    position: relative
}

.content .map-icon.arrow-bottom:after {
    content: " ";
    position: absolute;
    left: 35px;
    bottom: -7px;
    border: 15px solid transparent;
    border-top-color: #fff;
    border-bottom: none
}

#carouselBanner .carousel-indicators {
    top: 368px;
    left: 285px;
    margin: 0;
    padding: 0;
    right: auto
}

#carouselBanner .carousel-control-prev {
    left: -62px;
    width: auto
}

#carouselBanner .carousel-control-next {
    right: -62px;
    width: auto
}

#carouselBanner .carousel-control-prev-icon {
    background-image: url(./img/arrow-left.png);
    width: 32px;
    height: 48px
}

#carouselBanner .carousel-control-next-icon {
    background-image: url(./img/arrow-right.png);
    width: 32px;
    height: 48px
}

#carouselBanner .carousel-item > div {
    float: left
}

#carouselBanner .carousel-item .left-box {
    margin-top: 60px
}

#carouselBanner .carousel-item .center-box {
    min-width: 340px;
    height: 310px;
    margin-top: 60px;
    padding-left: 35px
}

#carouselBanner .carousel-item .center-box h2 {
    font-family: Helvetica Neue, Helvetica;
    font-size: 45px;
    font-weight: 700;
    color: #333;
    margin-top: 26px
}

#carouselBanner .carousel-item .center-box .title {
    font-family: NanumSquare;
    font-size: 33px;
    color: #333;
    line-height: 1.4
}

#carouselBanner .carousel-item .center-box .title b {
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2
}

#carouselBanner .carousel-item .center-box .title b .normal {
    font-weight: 300
}

#carouselBanner .carousel-item .center-box .desc {
    font-size: 15px;
    color: #999;
    margin-top: 15px;
    text-transform: uppercase
}

#carouselBanner .carousel-indicators li {
    width: 33px;
    height: 2px;
    background-color: #ddd
}

#carouselBanner .carousel-indicators li.active {
    background-color: #17ade5
}

.footer {
    border-top: 2px solid #ebebeb;
    width: 100%;
    min-width: 1110px;
    height: 250px
}

.footer-content-box {
    border-bottom: 1px solid #ebebeb;
    width: 100%;
}

.footer .content-box {
    width: 970px;
    margin: 0 auto;
    padding: 40px 0 20px 0;
    position: relative
}

.footer .footer-logo {
    display: inline-block;
    width: 15rem;
    vertical-align: top
}

.footer .bar {
    width: 1px;
    height: 11px;
    opacity: .3;
    background-color: #fff;
    display: inline-block;
    margin: 2px 1px;
    top: 3px;
    position: relative
}

.footer .footer-content {
    line-height: 1.53;
    text-align: left
}

.footer .btn-top, .footer .footer-content {
    display: inline-block;
    font-family: NanumSquare;
    font-size: 13px;
    color: #333333;
}

.footer .btn-top {
    vertical-align: top;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.footer-icon-box {
    margin: 20px 0 30px 0;
    border: 0 !important;
}

.footer-icon-box .content-box {
    padding: 0 0 0 15rem;
}

.footer-icon-box ul {
    padding: 0;
}

.footer-icon-box li {
    display: inline-block;
    padding: 0;
    margin: 0 20px;
    text-align: center;
}

.footer-icon-box li:first-child {
    margin-left: 0 !important;
}

.footer-icon-box .footer-icon span {
    font-size: 12px;
    font-family: NanumSquare;
    color: #666666;
    line-height: 24px;
}

.content-box h1.title {
    background-image: url(./img/title-dot.png);
    background-position: 0;
    background-repeat: no-repeat;
    height: 60px;
    font-family: NanumSquareEB;
    font-size: 27px;
    line-height: 1.41;
    letter-spacing: 2.7px;
    text-align: left;
    color: #0a3e81;
    padding-left: 29px;
    padding-top: 20px;
    margin-bottom: 70px
}

.content-box h2 {
    font-family: NanumSquareR;
    font-size: 27px;
    line-height: 1.41;
    text-align: center;
    color: #333
}

.content-box h3 {
    font-family: NanumSquareB;
    font-size: 50px;
    line-height: 1;
    text-align: center;
    color: #26ade2
}

.movie-area {
    margin-top: 40px;
    width: 970px;
    height: 548px;
    background-color: #ccc
}

.movie-title {
    text-align: center;
    margin-top: 20px;
    color: #333
}

.bm-desc {
    padding: 0 100px;
    margin: 0;
    font-size: 24px;
}

.bm-desc li {
    width: 98%;
    display: inline-block
}

.bm-desc li .dot {
    width: 40px;
    height: 40px;
    background-color: #17ade5;
    display: inline-block;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 40px;
    margin-right: 10px;
    margin-bottom: 20px
}

.content-sub-desc {
    margin-top: 60px
}

.content-sub-desc ul {
    width: 859px;
    margin: 0 auto
}

.bm-what li {
    list-style: none;
    margin-bottom: 30px
}

.bm-what .title {
    font-family: NanumSquareR;
    line-height: 1.5;
    text-align: left;
    color: #26ade2;
    font-size: 30px;
    line-height: 121px
}

.bm-what .title .sub-title {
    font-size: 20px
}

.bm-what .icon-bm-what {
    width: 121px;
    height: 121px;
    margin-right: 40px;
    vertical-align: top
}

.bm-what .bm-what-desc {
    display: inline-block;
    font-size: 20px;
    line-height: 1.9;
    text-align: left;
    color: #333
}

.bm-what .bm-what-desc .title {
    font-weight: 700
}

.bm-what .bm-what-desc .title .sub-title {
    font-weight: 400
}

.contact h1.title {
    margin-bottom: 30px
}

.contact-form .input-row {
    width: 100%
}

.contact-form .input-container {
    width: 50%;
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.contact-form .input-container.left {
    padding-right: 5px
}

.contact-form .input-container.right {
    padding-left: 5px
}

.contact-form .input {
    width: 100%;
    height: 58px;
    border: 1px solid #dadada;
    display: inline-block;
    margin-bottom: 10px
}

.contact-form .input.title {
    width: 100%
}

.contact-form input[type=text] {
    border: 0;
    width: 100%;
    font-size: 18px;
    padding: 14px 20px
}

.contact-form textarea {
    width: 100%;
    border: 1px solid #dadada
}

.contact-form label {
    width: 100%;
    padding: 7px 0
}

.contact-form .btn-area {
    text-align: center
}

.contact-form .btn-send {
    width: 208px;
    height: 50px;
    background-color: #0a3e81;
    font-size: 20px;
    color: #fff;
    border: 0
}
.engine-why {
    text-align: right;
}

.engine-why .engine-desc {
    width: 100%;
    font-weight: 400;
    text-align: left;
    list-style: none;
    padding: 0;
    margin: 0;
}

.engine-desc li {
    width: 49%;
    font-size: 24px;
    display: inline-block
}

.engine-desc li .dot {
    width: 40px;
    height: 40px;
    background-color: #17ade5;
    display: inline-block;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 40px;
    margin-right: 20px;
    margin-bottom: 20px
}


/*.engine-desc li:first-child:before {
    width: 17px;
    height: 17px;
    background-size: 17px 17px;
    background-image: url(./img/text-gap-ico-blue@2x.png)
}

.engine-desc li:before {
    width: 17px;
    height: 59px;
    -o-object-fit: contain;
    object-fit: contain;
    content: "";
    display: block;
    background-image: url(./img/text-gap-ico-line-blue@2x.png);
    background-position: 50%;
    background-size: 17px 59px;
    margin: 20px auto
}*/

.engine-content {
    display: inline-block;
}

.engine-content .engine-content-img {
    width: 550px !important;
    vertical-align: top;
    margin: 25px;
}

.engine-service-list {
    display: inline-block;
    margin: 50px 0px;
    padding-left: 20px;
}

.engine-service-list li {
    list-style: none;
    line-height: 54px;
    text-align: left;
    font-size: 22px;
    color: #333;
    font-weight: bold;
}

.engine-service-list li:before {
    width: 40px;
    height: 40px;
    padding: 20px;
    background-image: url(./img/text-gap-ico-check@2x.png);
    background-repeat: no-repeat;
    background-position: center center;
    content: "\00a0 ";
    /*background: #ffffff;*/
}

.engine-service-list .engine-plus-title {
    color: #0a3e81;
    font-weight: 1000;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
}

.engine-service-list .engine-plus-title:before {
    width: 0;
    height: 0;
    padding: 0;
    background-color: #ffffff;
    background-image: none;
}

.c_blue {
    color: #1eaee7;
}

.c_red {
    color: #e55050;
}

.bm-pricing-table,
.engine-pricing-table {
    margin: auto;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    font-size: 22px;
}

.bm-pricing-table td,
.bm-pricing-table th,
.engine-pricing-table td,
.engine-pricing-table th {
    padding: 10px 16px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #ebebeb;
    font-weight: bold;
    font-size: 22px;

}

.bm-pricing-table thead,
.engine-pricing-table thead {
    background-color: #00b1ea;
    color: #ffffff;
    text-align: center;
}

.bm-pricing-table tbody td,
.engine-pricing-table tbody td {
    text-align: center;
}

.bm-pricing-table .better-price,
.engine-pricing-table .better-price {
    color: #00b1ea;
    font-weight: 1000;
}

.bm-pricing-policy {
    font-weight: 700;
    font-size: 18px;
    margin: 10px 0;
    color: #666666;
}

.brochure-input-area {
    width: 600px;
    margin: auto;
}

.brochure-input-area .brochure-sub-title {
    text-align: center;
    font-size: 16px;
    margin-bottom: 25px;
}

.brochure-input-area .brochure-input-company input,
.brochure-input-area .brochure-input-name input,
.brochure-input-area .brochure-input-email input {
    width: 100%;
    padding: 12px 25px;
    margin-bottom: 10px;
}

.brochure-input-area ::-webkit-input-placeholder {
    text-align: center;
    color: #cccccc;
}

.brochure-input-area :-moz-placeholder {
    text-align: center;
    color: #cccccc;
}

.brochure-input-area ::-moz-placeholder {
    text-align: center;
    color: #cccccc;
}

.brochure-input-area :-ms-input-placeholder {
    text-align: center;
    color: #cccccc;
}

.brochure-input-area .brochure-agree-policy {
    margin: 10px 0;
}

.brochure-input-area .brochure-agree-policy #agree_send_brochure {
    width: 16px;
    height: 16px;
}

.brochure-input-area .brochure-agree-policy label {
    font-size: 16px;
}

.brochure-input-area .brochure-agree-policy div {
    font-size: 14px;
}

.brochure-input-area .brochure-btn {
    width: 100%;
    background-color: #00b1ea;
    color: #ffffff;
    padding: 12px 25px;
    cursor: pointer;
}

.agree-info {
    padding-left: 15px;
}
