@media (min-width: 1px) {
    .container {
        max-width: 1110px;
        min-width: 1110px;
        padding: 0
    }
}

body, html {
    background-color: #fff;
    font-family: HelveticaNeue, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    margin: 0;
    padding: 0
}

.no-gutters {
    margin-right: 0;
    margin-left: 0
}

.no-gutters > .col, .no-gutters > [class*=col-] {
    padding-right: 0;
    padding-left: 0
}

.col-3 {
    width: 50%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    margin-bottom: 60px;
    height: 290px
}

.gnb {
    width: 100%;
    min-width: 1110px;
    height: 150px;
    line-height: 150px;
    background-color: #fff;
    border-bottom: 1px solid #ebebeb;
    z-index: 999;
    top: 0
}

.gnb img {
    width: 30%
}

.gnb.sticky {
    position: fixed
}

.gnb .ci_sharevalue {
    vertical-align: middle;
    margin-left: 75px
}

.header {
    width: 100%;
    min-width: 1110px;
    height: 1050px;
    position: relative
}

.header.sticky {
    margin-top: 80px
}

.header #topFlipper {
    padding-top: 85px
}

.header .flip-container {
    margin: 0 auto;
    font-family: HelveticaNeue;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 8px;
    text-align: center;
    color: #6ad4fd;
    text-transform: uppercase;
    -webkit-perspective: 1000
}

.header .flip-container .title {
    padding-top: 185px;
    -webkit-transform: scaleX(.8);
    transform: scaleX(.8)
}

.header .flip-container .text-style-1 {
    font-size: 70px;
    line-height: 1.29;
    letter-spacing: 14px;
    color: #fff;
    -webkit-transform: scaleX(.8);
    transform: scaleX(.8)
}

.header .flip-container.hover .flipper {
    -webkit-transform: rotateY(2turn)
}

.header .back, .header .flip-container, .header .front {
    width: 630px;
    height: 630px;
    border-radius: 50%
}

.header .flipper {
    -webkit-transition: .6s;
    -webkit-transform-style: preserve-3d;
    position: relative
}

.header .back, .header .front {
    -webkit-backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0
}

.header .front {
    z-index: 2;
    background: #26ade2
}

.header .back {
    -webkit-transform: rotateY(180deg);
    background: #26ade2
}

.header #carouselFade {
    position: absolute;
    width: 100%;
    height: 640px;
    top: 0
}

.header .carousel-inner {
    height: 640px
}

.header .box {
    width: 100%;
    height: 1050px
}

.header .Business-management-system {
    font-family: NanumSquare;
    font-size: 60px;
    font-weight: 100;
    color: #fff;
    text-align: center;
    padding: 210px 0 30px;
    margin: 0;
    line-height: 80px
}

.header .Business-management-system .text-style-1 {
    color: #4accff;
    font-weight: 600
}

.header .desc {
    font-family: NanumSquare;
    font-size: 24px;
    font-weight: 100;
    line-height: 1.5;
    letter-spacing: 2px;
    text-align: center;
    color: #fff;
    text-transform: uppercase
}

.header .dot-box {
    width: 100%;
    bottom: 52px;
    font-size: 0;
    text-align: center;
    position: absolute
}

.header .dot {
    width: 16px;
    height: 16px;
    margin: 0 5px;
    border: 3px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer
}

.header .dot.active {
    background-color: #fff
}

.content {
    margin-top: 70px;
    font-family: NanumSquare
}

.content .content-box {
    width: 970px;
    margin: 0 auto 100px
}

.content .bm-content {
    margin-bottom: 150px;
}

.content .content-title {
    font-family: NanumSquare;
    margin-bottom: 15px;
    font-size: 70px;
    line-height: 1.05;
    letter-spacing: 2.3px;
    text-align: center;
    color: #00b1ea
}

.content .content-desc {
    margin-bottom: 2.5em;
    font-size: 54px;
    line-height: 1.35;
    text-align: center;
    color: #333
}

.content .content-title-desc {
    margin: 2.5em 0;
    font-size: 54px;
    line-height: 1.35;
    text-align: left;
    color: #333
}

.content .content-desc b,
.content .content-title-desc b {
    font-weight: 900
}

.content .For-your-success-travel-business {
    font-family: NanumSquare;
    font-size: 80px;
    font-weight: 100;
    text-align: center;
    color: #26ade2;
    margin-bottom: 20px;
    line-height: 1.05
}

.content .For-your-success-travel-business .text-style-1 {
    font-family: NanumSquare;
    font-size: 140px;
    font-weight: 500
}

.content .diagram {
    text-align: center
}

.content .diagram img {
    width: 90%
}

.content .icons {
    text-align: center;
    text-transform: uppercase;
    font-family: NanumSquare;
    position: relative
}

.content .icons img {
    width: 140px
}

.content .icons .txt {
    position: absolute;
    bottom: 0;
    width: 100%
}

.content .icons .txt .title {
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1.5px;
    text-align: center;
    color: #26ade2;
    margin-bottom: 8px
}

.content .icons .txt .kor {
    font-size: 40px;
    font-weight: 600;
    color: #333
}

.content .map {
    width: 970px;
    height: 730px;
    display: block;
    background-color: #333;
    margin-bottom: 28px;
    position: relative
}

.content .addr {
    font-size: 30px;
    line-height: 1.53;
    text-align: center;
    color: #555
}

.content .pin {
    position: absolute;
    top: 40px
}

.content .map-icon {
    width: 160px;
    height: 148px;
    background-color: #fff;
    background-image: url(./img/contactus-ci.png);
    background-repeat: no-repeat;
    background-position: 50%;
    border: 1px solid #dedede;
    position: relative;
    background-size: 72%
}

.content .map-icon.arrow-bottom:after {
    content: " ";
    position: absolute;
    left: 43px;
    bottom: -26px;
    border: 30px solid transparent;
    border-top-color: #fff;
    border-bottom: none
}

#carouselBanner .carousel-indicators {
    top: 368px;
    left: 285px;
    margin: 0;
    padding: 0;
    right: auto
}

#carouselBanner .carousel-control-prev {
    left: -62px;
    width: auto;
    display: none
}

#carouselBanner .carousel-control-next {
    right: -62px;
    width: auto;
    display: none
}

#carouselBanner .carousel-control-prev-icon {
    background-image: url(./img/arrow-left.png);
    width: 32px;
    height: 48px
}

#carouselBanner .carousel-control-next-icon {
    background-image: url(./img/arrow-right.png);
    width: 32px;
    height: 48px
}

#carouselBanner .carousel-item > div {
    float: left
}

#carouselBanner .carousel-item .left-box {
    margin-top: 60px
}

#carouselBanner .carousel-item .center-box {
    min-width: 340px;
    height: 310px;
    margin-top: 60px;
    padding-left: 35px
}

#carouselBanner .carousel-item .center-box h2 {
    font-family: Helvetica Neue, Helvetica;
    font-size: 45px;
    font-weight: 700;
    color: #333;
    margin-top: 26px
}

#carouselBanner .carousel-item .center-box .title {
    font-family: NanumSquare;
    font-size: 33px;
    color: #333;
    line-height: 1.4
}

#carouselBanner .carousel-item .center-box .title b {
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2
}

#carouselBanner .carousel-item .center-box .title b .normal {
    font-weight: 300
}

#carouselBanner .carousel-item .center-box .desc {
    font-size: 20px;
    color: #999;
    margin-top: 15px;
    text-transform: uppercase
}

#carouselBanner .carousel-indicators li {
    width: 33px;
    height: 2px;
    background-color: #ddd
}

#carouselBanner .carousel-indicators li.active {
    background-color: #17ade5
}

.footer {
    border-top: 3px solid #ebebeb;
    width: 100%;
    min-width: 1110px
}

.footer-content-box {
    border-bottom: 2px solid #ebebeb;
    width: 100%;
}

.footer .content-box {
    width: 970px;
    margin: 0 auto;
    padding: 40px 0 20px 0;
    position: relative
}

.footer .footer-logo {
    display: inline-block;
    width: 15rem;
    vertical-align: top
}

.footer .footer-logo img {
    width: 160%
}

.footer .bar {
    width: 1px;
    height: 11px;
    opacity: .3;
    background-color: #fff;
    display: inline-block;
    margin: 2px 1px;
    top: 3px;
    position: relative
}

.footer .footer-content {
    line-height: 1.53;
    text-align: left
}

.footer .btn-top, .footer .footer-content {
    display: inline-block;
    font-family: NanumSquare;
    font-size: 30px;
    color: #333333;
}

.footer .btn-top {
    vertical-align: top;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.footer-icon-box {
    margin: 20px 0 30px 0;
    border: 0 !important;
}

.footer-icon-box .content-box {
    padding: 0;
}

.footer-icon-box ul {
    padding: 0;
    text-align: center;
}

.footer-icon-box li {
    display: inline-block;
    padding: 0;
    margin: 0 20px;
    text-align: center;
}

.footer-icon-box .footer-icon span {
    font-family: NanumSquare;
    font-size: 30px;
    color: #666666;
    line-height: 48px;
}

.footer-icon-box .footer-icon img {
    box-sizing: content-box;
}

.menu-burger {
    float: right;
    margin-top: 55px;
    margin-right: 75px
}

.menu-burger div {
    width: 35px;
    height: 5px;
    background-color: #0a3e81;
    margin: 6px 0
}

.bm .box {
    width: 100%
}

.bm .box1 {
    background-image: url(./img/bm-header-mobile.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: #00b1ea;
    background-size: 100%
}

.content-box h1.title {
    background-image: url(./img/title-dot.png);
    background-position: 0;
    background-repeat: no-repeat;
    height: 120px;
    letter-spacing: 2.7px;
    text-align: left;
    color: #0a3e81;
    padding-left: 29px;
    padding-top: 20px;
    margin-bottom: 70px
}

.content-box h1.title, .content-box h2 {
    font-family: NanumSquare;
    font-size: 52px;
    line-height: 1.41
}

.content-box h2 {
    text-align: center;
    color: #333
}

.content-box h3 {
    font-family: NanumSquare;
    font-size: 100px;
    line-height: 1;
    text-align: center;
    color: #26ade2
}

.movie-area {
    width: 100%;
    height: 548px;
    background-color: #ccc;
    margin-top: -40px
}

.movie-title {
    width: 100%;
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 100px
}

.content-sub-desc {
    margin-top: 60px
}

.content-sub-desc ul {
    margin: 0 auto
}

.bm-desc {
    padding: 0;
    margin: 0
}

.bm-desc li {
    width: 100%;
    font-size: 34px;
    list-style: none;
}

.bm-desc li .dot {
    width: 80px;
    height: 80px;
    background-color: #17ade5;
    display: inline-block;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 80px;
    margin-right: 40px;
    margin-bottom: 40px
}

.bm-what li {
    list-style: none;
    margin-bottom: 100px
}

.bm-what .title {
    line-height: 1.5;
    text-align: left;
    font-size: 80px;
    line-height: 121px;
    margin-top: 40px;
    font-weight: 700
}

.bm-what .sub-title, .bm-what .title {
    font-family: NanumSquare;
    color: #26ade2
}

.bm-what .sub-title {
    font-size: 54px;
    line-height: 1
}

.bm-what .icon-bm-what {
    width: 242px;
    height: 242px;
    vertical-align: top
}

.bm-what .bm-what-desc {
    font-size: 43px;
    line-height: 1.8;
    text-align: left;
    color: #333;
    margin-top: 10px
}

.contact h1.title {
    margin-bottom: 30px
}

.contact-form {
    margin-top: 100px
}

.contact-form .input-row {
    width: 100%
}

.contact-form .input-container {
    width: 100%;
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.contact-form .input {
    width: 100%;
    height: 160px;
    border: 1px solid #dadada;
    display: inline-block;
    margin-bottom: 40px
}

.contact-form .input.title {
    width: 100%
}

.contact-form input[type=text] {
    border: 0;
    width: 100%;
    font-size: 50px;
    padding: 36px 40px
}

.contact-form textarea {
    width: 100%;
    border: 1px solid #dadada;
    font-size: 50px
}

.contact-form label {
    width: 100%;
    padding: 7px 0;
    font-size: 50px
}

.contact-form label input {
    width: 50px;
    height: 50px;
    vertical-align: middle
}

.contact-form .btn-area {
    margin-top: 60px;
    text-align: center
}

.contact-form .btn-send {
    width: 400px;
    height: 136px;
    background-color: #0a3e81;
    font-size: 60px;
    color: #fff;
    border: 0
}

.map-area, .map-area .map {
    width: 100%
}

.contact .map {
    margin-bottom: 120px
}

.contact .content-title {
    font-size: 46px;
    margin-top: 80px
}

.contact .content-address {
    font-size: 54px;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
}

.gnb {
    position: relative
}

.gnb .top-menu {
    list-style: none;
    background-color: #fff;
    padding: 0;
    margin: 0
}

.gnb .top-menu a {
    font-family: NanumSquare;
    font-weight: 700;
    font-size: 40px;
    display: block;
    padding: 10px 75px;
    text-transform: uppercase;
    color: #333;
    border-bottom: 1px solid #e6ebec
}

.gnb .top-menu a.active {
    color: #00b1ea
}

.engine-desc {
    font-weight: 700;
    text-align: left;
    list-style: none;
    font-size: 40px;
    padding: 0;
    margin: 0;
}

.engine-desc li {
    width: 100%;
    font-size: 38px;
    list-style: none
}

.engine-desc li .dot {
    width: 80px;
    height: 80px;
    background-color: #17ade5;
    display: inline-block;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 80px;
    margin-right: 40px;
    margin-bottom: 40px
}

/*.engine-desc li:first-child:before {*/
/*    width: 17px;*/
/*    height: 17px;*/
/*    background-size: 17px 17px;*/
/*    background-image: url(./img/text-gap-ico-blue@2x.png)*/
/*}*/

/*.engine-desc li:before {*/
/*    width: 17px;*/
/*    height: 59px;*/
/*    -o-object-fit: contain;*/
/*    object-fit: contain;*/
/*    content: "";*/
/*    display: block;*/
/*    background-image: url(./img/text-gap-ico-line-blue@2x.png);*/
/*    background-position: 50%;*/
/*    background-size: 17px 59px;*/
/*    margin: 20px auto*/
/*}*/
.engine-content {
    width: 100%;
    text-align: center;
}

.engine-content .engine-content-img {
    width: 100%;
    /*vertical-align: top;*/
    margin: 25px;
}

.engine-service-list {
    margin: 50px auto;
    padding-left: 20px;
}

.engine-service-list li {
    list-style: none;
    line-height: 76px;
    text-align: left;
    font-size: 40px;
    color: #333;
    font-weight: bold;
}

.engine-service-list li:before {
    padding: 30px;
    background-image: url(./img/text-gap-ico-check@3x.png);
    background-repeat: no-repeat;
    background-position: center center;
    content: "\00a0 ";
    /*background: #ffffff;*/
}

.c_blue {
    color: #1eaee7;
}

.c_red {
    color: #e55050;
}

.bm-pricing-table {
    font-size: 30px;
}

.engine-pricing-table {
    font-size: 38px;
}

.bm-pricing-table,
.engine-pricing-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.bm-pricing-table td,
.bm-pricing-table th,
.engine-pricing-table td,
.engine-pricing-table th {
    padding: 10px 12px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2.5px solid #ebebeb;
    font-weight: bold;

}

.bm-pricing-table thead,
.engine-pricing-table thead {
    background-color: #00b1ea;
    color: #ffffff;
    text-align: center;
}

.bm-pricing-table tbody td,
.engine-pricing-table tbody td {
    text-align: center;
}

.bm-pricing-table .better-price,
.engine-pricing-table .better-price {
    color: #00b1ea;
    font-weight: 1000;
}

.bm-pricing-policy {
    font-weight: 700;
    font-size: 24px;
    margin: 10px 0;
    color: #666666;
}

.brochure-input-area {
    width: 100%;
    font-size: 40px;
}

.brochure-input-area .brochure-sub-title {
    text-align: center;
    margin-bottom: 1.5em;
}

.brochure-input-area .brochure-input-company input,
.brochure-input-area .brochure-input-name input,
.brochure-input-area .brochure-input-email input {
    width: 100%;
    padding: 1em 2em;
    margin-bottom: 1em;
    border: 3px solid #666666;
}

.brochure-input-area ::-webkit-input-placeholder {
    text-align: center;
    color: #cccccc;
}

.brochure-input-area :-moz-placeholder {
    text-align: center;
    color: #cccccc;
}

.brochure-input-area ::-moz-placeholder {
    text-align: center;
    color: #cccccc;
}

.brochure-input-area :-ms-input-placeholder {
    text-align: center;
    color: #cccccc;
}

.brochure-input-area .brochure-agree-policy {
    margin: 10px 0;
}

.brochure-input-area .brochure-agree-policy #agree_send_brochure {
    width: 1.2em;
    height: 1.2em;
}

.brochure-input-area .brochure-agree-policy label {
    font-size: 0.85em;
}

.brochure-input-area .brochure-agree-policy div {
    font-size: 0.6em;
}

.brochure-input-area .brochure-btn {
    width: 100%;
    background-color: #00b1ea;
    color: #ffffff;
    padding: 1em 2em;
    cursor: pointer;
}

.process-list {
    margin-top: -60px !important;
    list-style: none
}

.process-list li {
    text-align: center
}

.process-list li img {
    width: 700px
}

.process-list li:first-child:before {
    display: none
}

.process-list li:before {
    content: "";
    display: block;
    width: 45px;
    height: 27px;
    background-image: url(./img/smart-engine-process-arrow@2x.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
    margin: 20px auto
}

.agree-info {
    font-size: 32px;
}
