.engine-sub-description {
    @apply bg-primary-500 c-white;
    padding: 15px 0;
}

.engine-sub-description .title {
    font-size: 21px;
    line-height: 35px;
    letter-spacing: -0.53px;
    text-align: left;
    word-break: keep-all;
}

.engine-spec-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.engine-process {
    padding: 200px 0;
    box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.07);
}

.engine-process .engine-process-content {
    position: relative;
}

.engine-process .engine-process-content .engine-process-stage {
    font-size: 30px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 30px;
    letter-spacing: normal;
    text-align: center;
    color: #2e2d33;
    margin-bottom: 20px;
    z-index: 1;
}

.engine-process .engine-process-content .engine-process-stage-bar {
    width: 150px;
    height: 2px;
    background-color: #00264b;
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
    z-index: 1;
}

.engine-process .engine-process-content .engine-process-stage-bar .dot {
    @apply bg-primary-500;

    width: 13px;
    height: 13px;
    box-sizing: initial;
    border-radius: 50%;
    position: absolute;
    border: 3px solid #00264b;
    top: -8.5px;
    left: calc(50% - 8.5px);
    cursor: pointer;
    z-index: 1;
}

.engine-process .engine-process-content .engine-process-stage-bar:after {
    content: '';
    border: solid #00264b;
    display: inline-block;
    padding: 7px;
    right: 3px;
    position: absolute;
    top: -7px;
    border-width: 0 2px 0 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    z-index: 1;
}

.engine-process .engine-process-content .engine-process-stage-title {
    font-size: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 30px;
    letter-spacing: -0.53px;
    text-align: center;
    color: #2e2d33;
}

.engine-process .engine-process-content .engine-process-line {
    position: absolute;
    top: 50px;
    width: 100%;
    border: 1px solid #c4d2dd;
    z-index: -1;
}

.engine-price-table {
    background-color: #f8f9fb;
    padding: 200px 0;
}

.engine-price-table .price-table-title,
.engine-price-table table thead th {
    font-family: Raleway;
}

.engine-price-table .percentage {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    color: #2e2d33;
}

.engine-price-table .percentage-description {
    font-weight: 300;
    letter-spacing: -0.4px;
    line-height: normal;
}

.engine-faq {
    padding: 150px 20px;
    background-color: #ffffff;
}
