.engine-sub-description .title {
    @apply text-sm inline md:text-lg md:block lg:text-xl;
    line-height: 1.66;
    letter-spacing: -0.53px;
    text-align: left;
    word-break: keep-all;
}

.engine-spec-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.engine-spec-list >div {
    @apply w-49/100 lg:w-24/100;
}

.engine-process {
    @apply py-25 md:py-50;
    box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.07);
}

.engine-process .engine-process-content {
    @apply py-10 md:px-10 lg:px-0 lg:py-0;
    position: relative;
}

.engine-process .engine-process-content .engine-process-stage {
    @apply text-base md:text-xl lg:mb-5 lg:text-3xl;

    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 30px;
    letter-spacing: normal;
    text-align: center;
    color: #2e2d33;
    z-index: 1;
}

.engine-process .engine-process-content .engine-process-stage-bar {
    @apply w-90px h-1px my-4 lg:transform-none lg:w-120px xl:w-150px lg:h-2px lg:mb-7.5;

    background-color: #00264b;
    position: relative;
    display: inline-block;
    z-index: 1;
}

.engine-process .engine-process-content .engine-process-stage-bar .dot {
    @apply bg-primary-500 w-7px h-7px -top-5.5px border-2 lg:w-13px lg:h-13px lg:border-3 lg:-top-8.5px;

    box-sizing: initial;
    border-radius: 50%;
    position: absolute;
    border-style: solid;
    border-color: #00264b;
    left: calc(50% - 8.5px);
    cursor: pointer;
    z-index: 1;
}

.engine-process .engine-process-content .engine-process-stage-bar:after {
    content: '';
    border: solid #00264b;
    display: inline-block;
    padding: 7px;
    right: 3px;
    position: absolute;
    top: -7px;
    border-width: 0 2px 0 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    z-index: 1;
}

.engine-process .engine-process-content .engine-process-stage-title {
    @apply text-base md:text-lg xl:text-xl;

    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 30px;
    letter-spacing: -0.53px;
    text-align: center;
    color: #2e2d33;
}

.engine-process .engine-process-content .engine-process-vertical-line {
    position: absolute;
    top: 72px;
    width: 100%;
    border: 1px solid #c4d2dd;
    z-index: -1;
}

.engine-process .engine-process-content .engine-process-horizontal-line {
    @apply ml-16 md:ml-27;

    position: absolute;
    top: 0;
    left: -1px;
    height: 880px;
    border: 1px solid #c4d2dd;
    z-index: -1;
}

.engine-price-table {
    @apply py-25 md:py-50;
    background-color: #f8f9fb;
}

.engine-price-table .price-table-title,
.engine-price-table table thead th {
    font-family: Raleway;
}

.engine-price-table .percentage {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    color: #2e2d33;
}

.engine-price-table .percentage-description {
    font-weight: 300;
    letter-spacing: -0.4px;
    line-height: normal;
}

.engine-faq {
    @apply py-16 md:px-5 md:py-37.5;
    background-color: #ffffff;
}

.engine-main,
.mobile-engine-main {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(256,256,256,0.35);
}

.engine-main {
    min-height: calc(100vh - 90px - 100px);
}

.mobile-engine-main {
    min-height: calc(100vh - 65px);
}

.engine-main .engine-main-bg-video-area,
.mobile-engine-main .engine-main-bg-video-area {
    position: relative;
}

.engine-main .engine-main-bg-video-area video,
.mobile-engine-main .engine-main-bg-video-area video {
    object-fit: cover;

    -webkit-transform: translateX(-50%) translateY(0%);
    -moz-transform: translateX(-50%) translateY(0%);
    -ms-transform: translateX(-50%) translateY(0%);
    -o-transform: translateX(-50%) translateY(0%);
    transform: translate(-50%, 0%);
    object-position: center top;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    z-index: -1;
    position: absolute;
}

.engine-main .engine-main-content-area {
    min-height: calc(100vh - 90px - 100px);
}

.engine-main .engine-main-content-area .default-container {
    min-height: calc(100vh - 90px - 100px);
}

.mobile-engine-main .engine-main-content-area {
    min-height: calc(100vh - 65px);
    margin: 0 20px;
}

.mobile-engine-main .engine-main-content-area .default-container {
    min-height: calc(100vh - 65px);
}

.engine-main-content-area .default-container {
    width: 100%;
    position: relative;
}

.engine-main-content-area .engine-bg-order,
.engine-main-content-area .engine-main-bg-nav,
.engine-main-content-area .engine-main-content-title,
.engine-main-content-area .engine-main-content-text,
.engine-main-content-area .engine-main-bg-nav,
.engine-main-content-area .engine-bg-progress-bar {
    position: absolute;
}

.engine-main-content-area .engine-bg-order {
    @apply text-base md:text-lg;

    top: 10%;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
}

.engine-main-content-area .engine-main-content-title {
    @apply text-7xl md:text-80px;

    font-family: Raleway;
    opacity: 0.9;
    font-weight: 800;
    line-height: 85px;
    letter-spacing: normal;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

.engine-main-content-area .engine-main-content-text {
    @apply text-base md:text-lg;

    text-shadow: 0 0 27px rgba(0, 0, 0, 0.8);
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 50px;
    letter-spacing: -0.45px;
    animation: fadein 2.5s;
    -moz-animation: fadein 2.5s; /* Firefox */
    -webkit-animation: fadein 2.5s; /* Safari and Chrome */
    -o-animation: fadein 2.5s; /* Opera */
}

.engine-main-content-area .engine-main-bg-nav .nav-left-btn,
.engine-main-content-area .engine-main-bg-nav .nav-right-btn {
    content: '';
    width: 50px;
    height: 50px;
    opacity: 0.95;
    background-color: transparent;
    background-size: 50px 50px;
    background-position: center center;
    background-repeat: no-repeat;
    font-size: 0;
    display: inline-block;
}

.engine-main-content-area .engine-bg-progress-bar {
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
}

.engine-main-content-area .engine-bg-progress-bar .engine-bg-progress-bar-trigger {
    @apply bg-primary-500;
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.engine-main-content-area .engine-main-bg-nav .nav-left-btn:hover,
.engine-main-content-area .engine-main-bg-nav .nav-right-btn:hover {
    opacity: 0.45;
}

.engine-main-content-area .engine-main-bg-nav .nav-left-btn {
    margin-right: 100px;
    background-image: url(/image/icon/ico_white_btn-left-circle.webp);
}

.engine-main-content-area .engine-main-bg-nav .nav-right-btn {
    background-image: url(/image/icon/ico_white_btn-right-circle.webp);
}

.engine-main .engine-main-content-area .engine-bg-order,
.engine-main .engine-main-content-area .engine-main-bg-nav {
    right: 20px;
}

.engine-main .engine-main-content-area .engine-main-content-title {
    top: calc(81.5% - 240px);
    left: 20px;
}

.engine-main .engine-main-content-area .engine-main-content-text,
.engine-main .engine-main-content-area .engine-main-bg-nav {
    top: calc(93.7% - 50px);
}

.engine-main .engine-main-content-area .engine-main-content-text {
    left: 20px;
}

.engine-main .engine-main-content-area .engine-bg-progress-bar {
    top: 97.4%;
}

.mobile-engine-main .engine-main-content-area .engine-main-bg-nav {
    top: calc(10% - 17px);
    right: 0;
}

.mobile-engine-main .engine-main-content-area .engine-main-bg-nav .nav-left-btn,
.mobile-engine-main .engine-main-content-area .engine-main-bg-nav .nav-right-btn {
    scale: 0.65;
}

.mobile-engine-main .engine-main-content-area .engine-main-bg-nav .nav-left-btn {
    margin-right: 15px;
}

.mobile-engine-main .engine-main-content-area .engine-main-content-title {
    top: calc(73.4% - 216px);
    line-height: 1;
}

.mobile-engine-main .engine-main-content-area .engine-main-content-text {
    top: 79%;
    line-height: 1.52;
}

.mobile-engine-main .engine-main-content-area .engine-bg-progress-bar {
    top: 95%;
}

.trigger-animation {
    transform-origin: 0 0;
    animation: animation_progress 0.05s infinite;
    -moz-animation: animation_progress 0.05s infinite;
    -webkit-animation: animation_progress 0.05s infinite;
    -o-animation: animation_progress 0.05s infinite;
}

@keyframes animation_progress {
    0% { transform: scaleX(0); }
    100% { transform: scaleX(100%); }
}
